/* ========================= */
/* CONTACT */
/* ========================= */

.form-control {
  border: none;
  border-radius: 15px;
  padding: 15px;
}

.contact-btn {
  background: var(--pink5);
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
}