/* ========================= */
/* PROJECTS */
/* ========================= */

.project-card {
  padding: 40px;
  transition: 0.4s;
  will-change: transform;
}

.project-card:hover {
  transform: translateY(-10px);
}